*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* color palette  */

    /* couleur deep blue hedha ==>  Navbar, headings, links */
    --main-color : #0B5ED7;
    /* couleur sky blue ==>  */

    --secondaryColor : #5DA9E9;
    /* color orange coral  ==> Buttons, prices, highlights*/
    --accentColor : #FF6B35; 
    /* color soft white ==> Always dark on light backgrounds */
    --backgroundColor : #F8FAFC;
    /* text color  */
    --textColor : #1F2933;
}

body{
    min-width: 400px;
}
/* regle generale  */

.container{
    height: fit-content;
    padding-left : 40px;
    padding-right: 40px;
    width: 100%;
}

/* fin regle generale  */


.partOne{
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


.partOne .logo{display: flex; align-items: center;}
.partOne .logo img{width: 100px;user-select: none;}
.partOne .logo p{font-size: 2em; user-select: none;}
.partOne .logo p span{font-weight: bold;}

.partieTel,.partieLocalisation{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.partOne .fa-solid{
    color: var(--accentColor);
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    
}

.partOne .text p{margin: 0;}
.partOne .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.15s ease all;
}

.partOne .text:hover{
    color: var(--accentColor);
    cursor: pointer;
}
.partOne div.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partOne div.button a{
    padding: 13px 30px;
    font-size: 14px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
    border: 1.5px solid var(--accentColor);
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.2s all ease;

}
.partOne div.button a:hover{
    background-color: var(--accentColor);
    color: white;
}




@media (max-width:1400px){
    .container{padding-left: 20px;padding-right: 20px;}
    .partOne .logo p{
        max-width: 150px;
        line-height: 30px;
        font-size: 1.7em;
    }
}

@media (max-width:1200px) {
    .partOne{
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width:1050px){
    .partieLocalisation , .partieTel{display: none;}
    .partOne{
        justify-content: space-around;
        padding: 0;
    }
}

@media(max-width:530px){
    .partOne .logo p{display: none;}
    .partOne div.button a{
        padding: 10px 20px;
    }
}


/* partie thenya  */

.partTwo{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #eee;
    z-index: 4000;
}
.partTwo ul{
    list-style-type: none;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-content: center;
    max-width: 50vw;
    height: 100%;
    /* min-width: 300px; */
}
.partTwo ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partTwo ul li a{
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}
.partTwo ul li a:hover{
    color: var(--accentColor);
}
body{
    min-height: 5000px;
}



@media (max-width:1200px) {
    .partTwo ul{
        width: 100%;
        max-width: 80vw;
    }
}

@media (max-width:750px) {
    .partTwo{
        position: initial;
    }
    ul{
        justify-content: space-around;

        min-width: 650px;
    }
}

@media (max-width:650px) {
    ul{
        flex-direction: column;

        width: 100%;
    }
    ul li{
        padding: 15px;
        border-bottom: 1px solid #acabab;
    }
    .last{
        border-bottom: none ;
    }
    .partTwo{height: fit-content;}
}



/* reglage slider  */
.sliderContainer{
    height: calc(100vh - 180px);
    overflow-x: hidden;
    position: relative;
}


.sliderContainer figure{
    margin: 0;
    padding: 0;
    width: 1100%;
    height: 100%;
    aspect-ratio: 16/9;
    animation : sliding 40s infinite;
    position: relative;
}


.sliderContainer figure img{
    float: left;
    width: calc(100% / 11);
    height: 100%;
    object-fit: cover;

}

@keyframes sliding {
    0%{ left: 0;}
    9%{ left: 0}
    10%{left: -100%;}
    20%{left: -200%;}
    19%{left: -100%;}
    29%{left: -200%;}
    30%{left: -300%;}
    39%{left: -300%;}
    40%{left: -400%;}
    49%{left: -400%;}
    50%{left: -500%;}
    59%{left: -500%;}
    60%{left: -600%;}
    69%{left: -600%;}
    70%{left: -700%;}
    79%{left: -700%;}
    80%{left: -800%;}
    89%{left: -800%;}
    90%{left: -900%;}
    99%{left: -900%;}
    100%{left: -1000%;}
}


.sliderContainer .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.55) 60%,
    rgba(0, 0, 0, 0.85) 100%
    );


}

.overlay2{
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url(img/cloud11.png);
    background-size: contain;
    background-repeat: no-repeat;

}

