*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* color palette  */

    /* couleur deep blue hedha ==>  Navbar, headings, links */
    --main-color : #0B5ED7;
    /* couleur sky blue ==>  */

    --secondaryColor : #5DA9E9;
    /* color orange coral  ==> Buttons, prices, highlights*/
    --accentColor : #FF6B35; 
    /* color soft white ==> Always dark on light backgrounds */
    --backgroundColor : #F8FAFC;
    /* text color  */
    --textColor : #1F2933;
}

body{
    min-width: 400px;
}
/* regle generale  */

.container{
    height: fit-content;
    padding-left : 40px;
    padding-right: 40px;
    width: 100%;
}

/* fin regle generale  */


.partOne{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


.partOne .logo{display: flex; align-items: center;}
.partOne .logo img{width: 150px;user-select: none;}
.partOne .logo p{font-size: 2em; user-select: none;}
.partOne .logo p span{font-weight: bold;}

.partieTel,.partieLocalisation{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.partOne .fa-solid{
    color: var(--accentColor);
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    
}

.partOne .text p{margin: 0;}
.partOne .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.15s ease all;
}

.partOne .text:hover{
    color: var(--accentColor);
    cursor: pointer;
}
.partOne div.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partOne div.button a{
    padding: 13px 30px;
    font-size: 14px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
    border: 1.5px solid var(--accentColor);
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.2s all ease;

}
.partOne div.button a:hover{
    background-color: var(--accentColor);
    color: white;
}




@media (max-width:1400px){
    .container{padding-left: 20px;padding-right: 20px;}
    .partOne .logo p{
        max-width: 150px;
        line-height: 30px;
        font-size: 1.7em;
    }
}

@media (max-width:1200px) {
    .partOne{
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width:1050px){
    .partieLocalisation , .partieTel{display: none;}
    .partOne{
        justify-content: space-around;
        padding: 0;
    }
}

@media(max-width:530px){
    .partOne .logo p{display: none;}
    .partOne div.button a{
        padding: 10px 20px;
    }
}


/* partie thenya  */

.partTwo{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 4000;
}
.partTwo ul{
    list-style-type: none;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-content: center;
    max-width: 50vw;
    height: 100%;
    /* min-width: 300px; */
}
.partTwo ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partTwo ul li a{
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}
.partTwo ul li a:hover{
    color: var(--accentColor);
}
body{
    min-height: 5000px;
}



@media (max-width:1200px) {
    .partTwo ul{
        width: 100%;
        max-width: 80vw;
    }
}

@media (max-width:750px) {
    .partTwo{
        position: initial;
    }
    ul{
        justify-content: space-around;

        min-width: 650px;
    }
}

@media (max-width:650px) {
    ul{
        flex-direction: column;

        width: 100%;
    }
    ul li{
        padding: 15px;
        border-bottom: 1px solid #acabab;
    }
    .last{
        border-bottom: none ;
    }
    .partTwo{height: fit-content;}
}
body{
 background: linear-gradient(
    to bottom,
    #f8f6f2,  
    #0d6efd   
  );
   background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact{
    position: absolute;
    width: 95%;
    height: 600px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0);
    box-sizing: border-box;
    border-radius: 12px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 255, 0) 0%,
        rgba(0, 0, 255, 0.15)50%,
        rgba(0, 0, 255, 0.2)  100%
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 90px;
}
.callus,.visitus,.contactus{
    display: flex;
    height: 500px;
    flex-direction: column;
    gap : 15px;
    font-size: 25px;
    color: #ff6735c4;
    text-decoration: none;
    align-items: center;
    justify-content:center;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    border-right: solid 1px  #f8f6f22f;
    padding-right: 125px;
}
.visitus p {
    box-sizing: border-box;
    padding-top: 13px;
    text-align: center;
}
.callus a,.contactus a{
    color: #ff6735c4;
    text-decoration: none;
    text-align: center;
}
.callus i,.visitus i,.contactus i{
    font-size: 100px;
    transform: translateY(-50%);
    color:    #ff6735c4;
}
.contactus{
    border-right: none;
}
