nav{
    width: 90%;
    margin: auto;  
     z-index: 1000;   
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     gap: 15px;
     font-size: 22px;
     font-family: 'Times New Roman', Times, serif;
     padding-left: 15px;
     padding-bottom: 10px;
     padding-top: 10px;
     box-sizing: border-box;
     
}
.lien{
    transition: all 0.5s ease;
}
.lien:hover{
 scale: 1.025;
  transition: all 0.5s ease;
}
.price,.date,.heure,.espace,.temps{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center; /* alignement vertical */
    gap: 10px;
}
.filtre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 15px;
}
.temps{
    justify-content: center;
    gap :50px;
}
.heure input, .date input {
    flex: 1;
}
/*body{
    background-image: url('ressource/bg.jpg'); 
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
body{
    background-color: #f8f9fa;
}
td,th{
    text-align: center;
}
.btnapply{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.btn{
    width:100px;
    box-sizing: border-box;
    border-radius: 8px;

}
.alert{
    text-align: center;
    font-size: 20px;
    display: none;
}