*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* color palette  */

    /* couleur deep blue hedha ==>  Navbar, headings, links */
    --main-color : #0B5ED7;
    /* couleur sky blue ==>  */

    --secondaryColor : #5DA9E9;
    /* color orange coral  ==> Buttons, prices, highlights*/
    --accentColor : #FF6B35; 
    /* color soft white ==> Always dark on light backgrounds */
    --backgroundColor : #F8FAFC;

    /* text color  */
    --textColor : #1F2933;
}