*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Poppins", sans-serif; */
    /* font-size: smaller; */
}

:root{
    /* color palette  */

    /* couleur deep blue hedha ==>  Navbar, headings, links */
    --main-color : #0B5ED7;
    /* couleur sky blue ==>  */

    --secondaryColor : #5DA9E9;
    /* color orange coral  ==> Buttons, prices, highlights*/
    --accentColor : #FF6B35; 
    /* color soft white ==> Always dark on light backgrounds */
    --backgroundColor : #F8FAFC;
    /* text color  */
    --textColor : #1F2933;
}

body{
    min-height: initial !important;
    max-height: 100vh;
    overflow: hidden;
}

.mainContainer{
    width: 75%;
    margin: 5em auto;
    display: flex;
    flex-direction: row;
    gap: 8vw;
    min-height: 500px;
}

.firstPart{
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: space-between;
    min-height: 400px;
}

.partie-fou9 h1{
    font-size: clamp(2em,5vw , 3.5em);
    color: var(--accentColor);
    margin-bottom: 0.5em;
}
.partie-fou9 p:first-of-type{
    color: var(--accentColor);
    font-weight: bold;
    font-size: 18px;
}
.partie-fou9 p:last-of-type{
    color: var(--textColor);
    font-size: 14px;
}

.partie-bas div:first-child{
    display: flex;
    align-items: center;
}

.partie-bas div> i{
    font-size: 25px;
    margin-right: 3em;
}

.partie-bas div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.partie-bas div ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.partie-bas div:first-child a{
    font-size: 18px;
    /* text-decoration: none; */
    color: black;
}
.partie-bas ul li{
    font-size: 20px;
    margin-right: 1em;
}

.secondPart{
    padding: 2em;
}

.lastElement{
    display: flex;
    justify-content: flex-end;
}
.btn.btn-primary{
    min-width: 150px;
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    outline: none;
    font-weight: 500;
}
.btn.btn-primary:active{
    background-color: #ff8d64 !important;
    outline: none;
    border: none;
}

@media (max-width:1000px) {
    .mainContainer{
        width: 90%;
    }
}

@media(max-width :650px){
    .mainContainer{
        flex-direction: column;
        align-items: center;
    }
    body{
        overflow-y: scroll;
    }
    .firstPart{
        width: 100%;
        min-height: 320px;
    }
    .partie-fou9 h1{
        font-size: 3em;
    }
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    height: 70px;
}